* {
    font-family: sans-serif;
}

.navbar {
    transition: 0.4s ease-in-out;
    background-color: #333333 !important;
}

.navbar a {
    color: white;
}

.navbar a:hover {
    color: lightblue;
    transition: 0.2s ease-in-out;
}

.navbar-scrolled {
    background-color: lightblue !important;
}

.navbar-scrolled a {
    color: black;

}

.navbar-scrolled a:hover {
    color: blue;
    transition: 0.4s ease-in-out;
}

.navbar-toggler {
    color: white;
    border: none;
}

.navbar-scrolled button{
    color: black;
}

.row {
    transition: 0.4s ease-in-out;
}

.row:hover {
    transform: scale(1.03);
    box-shadow: 2px 2px 30px 2px lightblue;
}

.img-fluid{
    border-radius: 50%;
    box-shadow: 2px 2px 30px 2px lightblue;
}
